.Rproj.user
.Rhistory
.RData
dat.RData
dokkari.html
dokkari.md
dokkari.odt
dokkari.pdf
gadm.RData
gadm.df.RData
openroadshow2013_slides-figure
openroadshow2013_slides-rpubs.html
openroadshow2013_slides.md
openroadshow2013_tku.Rproj
hukkaslaidit2013.txt
